/*For big desktop*/
@media (max-width : 1800px) {
    .support .supportContent {
        padding-left: 200px;
    }
}
@media (max-width : 1600px) {
    .support .supportContent {
        padding-left: 300px;
    }
}
@media (max-width : 1500px) {
    .support .supportContent {
        padding-left: 350px;
    }
    .workContent{
        left: 243px;
        top: -94px;
    }
    .slider {
        background-size: contain;
    }
    section.workTogether {
        margin-top: -299px;
    }
}
@media (max-width : 1500px) {
    .support .supportContent {
        padding-left: 400px;
    }
}
@media (max-width : 1300px) {
    section.workTogether {
        margin-top: -399px;
    }
}
@media (max-width : 1199px) {
    .workContent {
        left: 142px;
        top: -114px;
    }
    section .youtubeIcon {
        top: 27%;
    }
}

@media (max-width : 1089px) {
    .box-icon{
        width: 315px;
    }
    .FocusImg {
        width: 315px;
    }
    .support .supportContent {
        padding-left: 483px;
    }
    .workContent {
        left: 88px;
        top: -114px;
    }
    header .logo h2 {
        line-height: 20px;
        font-size: 14px;
    }
    header .logo img {
        position: relative;
        top: -5px;
        width: 83px;
    }
    .logoCol{
        width: 45%;
        float: left;
    }
    .menuCol{
        overflow: hidden;
    }
    .buttonCol{
        float: left;
        width: 40px;
        margin-lefT: -76px;
    }
}
@media (max-width : 1024px) {
    .slider{
        background-size: contain;
    }
    section .youtubeIcon {
        top: 25%
    }
    section.workTogether {
        margin-top: -461px;
    }
    .joinUs .border {
        margin: 30px 110px;
    }
}
@media (min-width : 990px) {
  .for-tab-img{
    display: none;
  }
}
@media (max-width : 991px) {
    .about-tv-program,.education-tv-program{
      background-image: none;
    }
     .for-tab-img{
       display: block;
       margin-bottom: 20px;
     }
     .education-tv-program-content{
        margin-bottom: 20px;
     }
     .education-tv-program-content {
        margin-top: 20px;
    }
    .activites-header.text-right,.activites-header .text-right,.activities-list .text-right{
      text-align: left;
    }
    .activites .tab-content{
        padding-left: 0;
    }
    .activities-list{
      margin-bottom: 20px;
    }
    .activities-list{
     border-right: none;
    }
     .about-tv-program {
        margin-bottom: 0px;
    }
    section.workTogether {
        margin-top: -490px;
    }
    .logoCol {
        width: 55%;
    }
    section.workTogether{
        padding-bottom: 60px;
    }
    .workTogetherLeft{
        left: 0;
        margin-bottom: 25px;
    }
    .workTogetherLeft img {
        width: 111%;
        top: -54px;
    }
    .workTogether{
        background: none;
    }
    .workContent {
        left: 0px;
        top: 0px;
        background-position: 44% 35%;
        padding: 205px 176px 106px;
    }
    .support .supportContent {
        padding-left: 379px;
    }
    .featuresContent .features-item:first-child{
        padding-top: 58px;
    }
    .features-item{
        margin-top: 0;
        padding-bottom: 20px;
    }
    .programCol1{
        top: 0;
    }
    .ProgramList .pull-right{
        float: none!important;
    }
    .ProgramList{
        margin-top: 0;
        text-align: center;
    }
    .programCol2,.programCol3{
        top : 0;
    }
    .box-icon{
        margin: 0 auto;
    }
    .subscribe h3{
        text-align: left;
        margin-bottom: 40px;
    }
    .subscribe input{
        text-align: left;
    }
    footer .logo {
        margin-bottom: 80px;
    }
    .joinUs {
        min-height: 500px;
    }
    .joinUs .border {
        margin: 30px 123px;
    }
    .JoinContent {
        margin-top: 25px;
    }
    .support {
        min-height: 500px;
    }
    .support .supportContent {
        padding-top: 0;
    }
    .support .supportContent {
        padding-left: 0;
    }
    footer .footerContent{
        border-bottom: none;
    }
    footer .logo {
        padding-left: 0;
    }
}

/*For tab only*/
@media (max-width : 800px) {
    header .logo h2 {
        line-height: 18px;
        font-size: 12px;
        padding-top: 10px;
    }
    .logo img {
        margin-right: 5px;
    }
}
@media (max-width : 768px) {
    .FeatureDetails:hover{
        border: none;
    }
    .FeatureDetails{
        border: none;
    }
}
@media (max-width : 720px) {
    .dropdownMenu{
        background-color: #ffffff;
        z-index: 9999;
    }
    header{
        z-index: 9999;
    }
    .dropdownMenu a{
        color: #000;
    }
    section.workTogether {
        margin-top: -590px;
    }
    .buttonCol {
        margin-left: -55px;
    }
    header .logo {
        padding-left: 5px;
    }
}
@media (max-width : 600px) {
    .subscribe input{
        font-size: 12px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 12px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 18px;
    }
    :-ms-input-placeholder { /* IE 10+ */
        font-size: 12px;
    }
    :-moz-placeholder { /* Firefox 18- */
        font-size: 12px;
    }
    footer .logo img{
        display: block;
        float: none!important;
    }
    .subscribe input {
        width: 78%;
        margin-bottom: 19px;
    }
    .JoinContent{
        width: auto;
    }
    .joinUs .border {
        margin: 30px 155px;
    }
    .menuContent{
        padding-top: 0;
    }
    header .logo img {
        width: 70px;
    }
    .headerContent{
        overflow: hidden;
    }
    header {
        padding: 4px 0;
    }
    header {
        height: 87px;
    }
    .menuContent {
        padding-top: 25px;
    }
    .workContent{
        padding: 0;
    }
    .dropdownMenu {
        top: 87px;
    }
    .workContent {
        padding: 205px 44px 106px;
    }
    .featuresContent{
        background-size: contain;
    }
    header .logo h2 {
        line-height: 16px;
        font-size: 11px;
        padding-top: 19px;
    }
    header .logo img {
        top: 0px;
    }
    header .logo h2{
        display: none;
    }
    header .logo img {
        width: 81px;
    }
    .logoCol {
        width: 21%;
    }
}
@media (max-width : 550px) {
    .joinUs .border {
       display: none;
    }
    section .youtubeIcon {
        top: 17%;
    }
    section.workTogether {
        margin-top: -670px;
    }
}
@media (max-width : 450px) {
    section .youtubeIcon {
        top: 18%;
    }
    section.workTogether {
        margin-top: -731px;
    }
    section .youtubeIcon {
        top: 13%;
    }
}
@media (max-width : 350px) {
    section .youtubeIcon {
        top: 18%;
    }
    .slider {
        background-size: contain;
        background-position: 0% 0%;
    }
    .workContent {
        padding: 205px 15px 106px;
    }
    .menuContent {
        margin-right: -35px;
    }
    .box-icon {
        width: 271px;
    }
    .FocusImg {
        width: 271px;
    }
    .workTogetherLeft img {
        width: 170%;
    }
    .workContent {
        padding: 205px 8px 106px;
    }
}
