/*Globals styles*/
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #5e4040;
}
section{
    padding: 80px 0;
}
.logo-container {
    padding: 0 7px!important;
}
/** page wraper **/
.page-wrapper{
  overflow: hidden;
  margin-top: 160px;
}
h2.page-title{
  color: #b88324;
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
}
div.title-box .title-border{
  height: 10px;
  background-color: #2b2b86;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
div.border{
    height: 3px;
    background-color: #ffffff;
    width: 5%;
    margin: 25px 0;
}
.social-icon li{
    padding-left: 0;
    padding-right: 4px;
}
.social-icon li a i{
    color: #6a6a6a;
    background-color: #e9e5e5;
    padding: 9px 11px;
    font-size: 16px;
    border-radius: 6px;
    width: 35px;
    transition: all 0.5s;
}
.social-icon li a i:hover{
    background-color: #b71c1c;
    transition: all 0.5s;
    color: #fff;
}
a{
    transition: all 0.5s;
    outline: none;
}
a:hover,a:active,a:visited{
    transition: all 0.5s;
    text-decoration: none;
    outline: none;
}
a:active:hover,a:visited:hover{
    text-decoration: none;
}
footer .title{
    color: #1c3a4b;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.noPadding{
    padding: 0;
}
.btn{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    transition: all 0.5s;
    font-weight: normal;
    padding: 8px 20px;
    font-size: 13px;
}
.btn:hover,.btn:focus,.btn:active,
.btn:active:focus{
    outline: none;
    box-shadow: none;
    background-color: #ffffff;
    color: #000;
    transition: all 0.5s;
    border: 2px solid #fff;
}
/*Header Section*/
header{
    padding: 15px 0;
   /* background-color: rgba(226, 226, 226, 0.8);*/
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+0,fdfdfd+89&1+0,0.52+34 */
    background: -moz-linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0.8) 34%,rgba(121, 121, 121, 0.8) 89%);
    background: -webkit-linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0.8) 34%,rgba(121, 121, 121, 0.8) 89%);
    background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0.8) 34%,rgba(121, 121, 121, 0.8) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#85fdfdfd',GradientType=1 ); /* IE6-9 */
    transition: all 0.5s;
}
header.change{
    position: inherit;
    transition: all 0.5s;
}
header .btn{
    background-color: #fff;
    color: #6d6d6d;
    border-radius: 0;
    font-weight: bold;
    padding: 9px 20px;
}
header .logo{
    padding-left: 40px;
}
header .logo h2{
    line-height: 23px;
    margin: 0;
    padding-top: 7px;
}
header .logo img{
    position: relative;
    top: -16px;
    width: 109px;
}
.menuContent button a{
  color: #6d6d6d;
}
.logo h2{
    color: #2a2a86;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}
.logo h2 span{
    color: #b88324;
}
.logo img{
    margin-right: 15px;
    float: left;
}
#menuButton{
    background-color: transparent;
    border: none;
}
#menuButton i{
    color: #fff;
    font-size: 15px;
}
.menuContent{
    padding-top: 30px;
}
    /*Menu section*/
.menu {
    margin-left: 36px;
}
.dropdownMenu{
    display: none;
    position: fixed;
    background-color: rgba(226, 226, 226, 0.5);
    padding: 40px 93px 29px 30px;
    top: 110px;
    right: 0;
    text-align: right;
}
.dropdownMenu a{
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}
.dropdownMenu ul li{
    display: block;
    margin-bottom: 15px;
}
.dropdownMenu a:hover{
    text-decoration: none;
}
/*Slider Section*/
.slider{
    background-image: url(../images/slide1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 970px;
}
section .youtubeIcon {
    position: absolute;
    top: 44%;
    right: 0;
    left: 0;
}
/*Work together section*/
.workTogether{
   background-image: url("../images/blueBG.jpg");
   background-repeat: no-repeat;
    background-position: 100% 100%;
}
section.workTogether{
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    margin-top: -138px;
}
.workTogetherLeft{
    background-color: #b88324;
    padding: 250px 32px 180px;
    position: relative;
    left: 93px;
}
.workTogetherLeft p{
    line-height: 26px;
}
.workTogetherLeft img{
    width: 164%;
    left: -93px;
    top: -44px;
    position: relative;
}
.workTogetherRight h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 45px;
}
.workTogetherRight p{
    margin-bottom: 45px;
}
.workContent{
    text-align: center;
    background-image: url(../images/girlImg.jpg);
    padding: 205px 35px 106px;
    min-height: 705px;
    background-repeat: no-repeat;
    position: relative;
    left: 381px;
    top: -98px;
}
/*Support Section*/
.support{
    background-image: url(../images/support.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding : 150px 0px;
    min-height: 900px;
}
.support h2{
    font-size: 48px;
    line-height: 60px;
}
.support .supportContent{
    padding-left: 110px;
    padding-top: 147px;
}
.support .supportContent p{
    margin-bottom: 40px;
}
.support .supportContent .btn{
    padding: 7px 70px;
}
/*Features List*/
section.features{
    background-color: #efebe2;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    padding-top: 0;
}
section.features h3{
    font-size: 30px;
    margin-bottom: 30px;
}
section.features p {
    width: 178px;
    margin: 0 auto;
    color: #5e4040;
    margin-bottom: 40px;
}
.features-item{
    margin-top: 100px;
    padding: 0;
}
.featuresContent{
    background-image: url("../images/getInvo.jpg");
    background-repeat: no-repeat;
    background-position: 73% 5%;
}
.FeatureDetails{
    padding: 10px 0;
    transition: all 0.5s;
    border: 8px solid transparent;
}
.FeatureDetails .btn{
    display: block;
    opacity: 0;
    border: none;
    outline: none;
    text-align: center;
    margin: 0 auto;
    transition: all 0.5s;
    margin-bottom: 10px;
}
.FeatureDetails:hover{
    border: 8px solid #d55343;
    -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
    transform: scale(1.1);

}
.FeatureDetails:hover .btn{
    display: block;
    color: #fff;
    opacity: 1;
    /*transition:  all 0.9s;*/
    background-color: #d55343;
}
.btn-donate{
    background-color: #d55343;
    border: none;
}
/*Join Us section*/
.joinUs{
    background-image: url(../images/joinUS.jpg);
    background-repeat: no-repeat;
    color: #fff;
    min-height: 900px;
    background-size: cover;
    background-attachment: fixed;
}
.joinUs p{
    font-size: 18px;
    text-align: center;
}
.JoinContent{
    width: 51%;
    margin: 0 auto;
    text-align: center;
    margin-top: 151px;
}
.joinUs .border{
    width: 30%;
    text-align: center;
    margin: 30px 155px;
}
/*ProgramList*/
.ProgramList{
    margin-top: -500px;
}
.ProgramList h3{
    font-size: 30px;
}
.programCol1{
    position: relative;
    top: -415px;
}
.programCol2{
    position: relative;
    top: 299px;
}
.programCol3{
    position: relative;
    top: 397px;
}
/*BOX icon*/
.box-icon{
    text-align: center;
    width: 380px;
    padding: 40px 0;
}
.box-icon img{
    transition: all 0.5s;
}
.box-icon:hover img{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)!important;
    transition: all 0.5s;
}
.box-icon p{
    margin-bottom: 0;
    padding-bottom: 30px;
}
.FocusImg{
    width: 380px;
}
.boxIcon1{
    background-color: #b88324;
}
.boxIcon1 p{
    padding-bottom: 180px;
}
.boxIcon2 h3,.boxIcon2 p,
.boxIcon1 h3,.boxIcon1 p
{
    color: #e6e5e0;
}
.boxIcon2{
    background-color: #2a2a86;
}
.boxIcon3{
    background-color: #e6e5e0;
}
.boxIcon3 h3,
.boxIcon3 p
{
    color: #203844;
}
.boxIcon4{
    background-color: #203844;
}
.boxIcon4 h3,.boxIcon4 p{
    color: #e6e5e0;
}

/***********************About page css *********************/
.about-us{
  background-image: url("../images/about/aboutBg.jpg");
  background-size: contain;
  padding-bottom: 0;
}
.about-us p{
  color: #505050;
  line-height: 26px;
}
.blueBtn{
  background-color: #2a2a86;
  border : 2px solid #2a2a86;
}
.blueBtn:hover{
  border : 2px solid #fff;
}
.about-us{
    background-color: #e2e0d8;
    /**border-left: 94px solid #2a2a86; **/
}
.blue-title{
    color: #2a2a86;
    font-size: 48px;
    font-weight:bold;
}
.Aboutslider{
    background-image: url(../images/about/slider.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 970px;
}
.what-we-do{
  margin-top: 30px;
  margin-bottom: 120px;
}
.about-tv-program .blue-title,
.education-tv-program .blue-title
{
  font-size: 30px;
}
.about-tv-program{
  margin-bottom: 120px;
}
/*Life styles section*/
.life-style{
    background-image: url(../images/about/yellowImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 600px;
    color: #fff;
}
.life-style-content{
  padding-top: 40px;
}
.activites{
  background-color: #e2e0d8;
}
/** tab content **/
.activites .tab-content{
      padding-left: 54px;
}
.activites-header{
  margin-bottom: 40px;
}
.activities-list{
  border-right: 4px solid #b7b7b7;
  padding-right: 40px;
  margin-right: -46px;
}
.activites-header h2{
  font-size: 30px;
}
.activities-list ul li{
  margin-bottom: 25px;
}
.activities-list ul li a{
  color: #3e3e3e;
  font-size: 13px;
}
#tabTvprogram a, .activities-list ul li.active a.active{
  border: 4px solid #b88324;
  border-radius: 8px;
  padding: 6px 15px;
}
.tab-para{
  color: #6a6a6a;
}
.tab-content h3.blue-title{
  font-size: 30px!important;
}
.tab-title,.tab-content-img{
  margin-bottom: 30px;
}
/** about-tv-program **/
.about-tv-program{
    overflow: hidden;
    background-image: url(../images/about/img1.jpg);
    background-repeat: no-repeat;
    min-height: 586px;
    background-size: 45%;
}
.education-tv-program{
  background-image: url(../images/about/img2.jpg);
  background-repeat: no-repeat;
  min-height: 1000px;
  background-size: 45%;
  overflow: hidden;
  background-position: right;
}

.education-tv-program-content{
  margin-top: 80px;
}
.footerImgQAbout{
    background-image: url(../images/about/footerImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 600px;
}
.yellow-title{
    color: #b88324;
    font-size: 48px;
}


/*Footer Img*/
.footerImg{
    margin-top: -880px;
}
.footerImg{
    background-image: url("../images/img8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 900px;
}
/*Subscribe section*/
section.subscribe{
    padding: 30px 0;
    color: #fff;
    background-color: #2a2a86;
}
.subscribe input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ffffff;
    width: 50%;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
    margin-right: 40px;
}
.subscribe .btn-submit{
    letter-spacing: 3px;
    padding: 8px 30px;
    position: relative;
    top: 4px;
}
.subscribe h3{
    text-align: right;
    padding-right: 15px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 18px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    font-size: 18px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-size: 18px;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-size: 18px;
}


/*----- Blog Style -----*/

#blogs {
    padding-top: 10px;
    margin-bottom: 10px;
}
.blog {
    margin-top: 30px;
}
.blog .blogInner {
    border: 1px solid rgba(156, 156, 156, 0.3);
    overflow: hidden;
}
.blog .blogInner .blogDateTime {
    line-height: 60px;
    color: #4c545f;
    font-family: 'Raleway', sans-serif;
}
.blog .blogInner .blogDateTime i {
    line-height: 60px;
    width: 60px;
    background: #8a8a8a;
    text-align: center;
    position: relative;
    font-size: 28px;
    color: #FFF;
    margin-right: 30px;
    float: left;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog .blogInner .blogDateTime i:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #8a8a8a;
    position: absolute;
    top: -webkit-calc(50% - 10px);
    top: calc(50% - 10px);
    right: -10px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog .blogInner .featureImg {
    max-height: 320px;
    position: relative;
}
.blog .blogInner .featureImg a {
    display: block;
    height: 100%;
    overflow: hidden;
}
.blog .blogInner .featureImg a img {
    width: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog .blogInner .postExcerpts {
    background: #f2eded;
    padding: 0 40px 40px;
    position: relative;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog .blogInner .postExcerpts .postExcerptInner {
    margin-top: -40px;
    padding: 0px 20px 35px;
    font-family: 'Raleway', sans-serif;
    background: #FFF;
    position: relative;
}
.blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 17px;
    color: #000;
    margin-top: 0;
    font-weight: bold;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog .blogInner .postExcerpts .postExcerptInner p {
    font-size: 16px;
    color: #9c9c9c;
}
.blog .blogInner .postExcerpts .postExcerptInner a.readMore {
    display: inline-block;
    float: right;
    color: #2f2f87;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog .blogInner:hover .blogDateTime i {
    background: #2f2f87;
}
.blog .blogInner:hover .blogDateTime i:after {
    border-left-color: #2f2f87;
}
.blog .blogInner:hover .featureImg a img {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.blog .blogInner:hover .postExcerpts {
    background: #00aeff;
}
.blog .blogInner:hover .postExcerpts .postExcerptInner a.postTitle h4 {
    color: #2f2f87;
}
.blog .blogInner:hover .postExcerpts .postExcerptInner a.readMore {
    color: #9c9c9c;
}
.blog.row {
    padding: 0 15px;
}
.blog.row .blogInner .featureImg a img {
    width: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog.row .blogInner .postExcerpts {
    padding: 40px;
}
.blog.row .blogInner .postExcerpts .postExcerptInner {
    margin-top: 0;
}
.blog.row .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 17px;
    color: #000;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog.row .blogInner .postExcerpts .postExcerptInner p {
    font-size: 16px;
    color: #9c9c9c;
}
.blog.row .blogInner .postExcerpts .postExcerptInner a.readMore {
    display: inline-block;
    float: right;
    color: #2f2f87;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog.sinlge-blog {
    margin-bottom: 40px;
    padding-right: 20px;
}
.blog.sinlge-blog .blogInner .featureImg {
    max-height: 100%;
}
.blog.sinlge-blog .blogInner .featureImg a {
    height: 100%;
}
.blog.sinlge-blog .blogInner .featureImg a img {
    width: 100%;
}
.blog.sinlge-blog .blogInner .postExcerpts {
    padding-top: 0;
}
.blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner {
    margin-top: -40px;
}
.blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner p {
    font-size: 16px;
    color: #9c9c9c;
}
.blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.readMore {
    display: inline-block;
    float: right;
    color: #2f2f87;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
@media (max-width: 1024px) {
    .blog .blogInner .blogDateTime {
        line-height: 50px;
        font-size: 13px;
    }
    .blog .blogInner .blogDateTime i {
        line-height: 50px;
        width: 50px;
        font-size: 18px;
        margin-right: 20px;
    }
    .blog .blogInner .postExcerpts {
        background: #f2eded;
        padding: 0 25px 25px;
        position: relative;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .blog .blogInner .postExcerpts .postExcerptInner {
        margin-top: -25px;
        padding: 20px;
    }
    .blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
        font-size: 15px;
        font-weight: normal;
    }
    .blog .blogInner .postExcerpts .postExcerptInner p {
        font-size: 13px;
        margin-bottom: 0;
    }
    .blog .blogInner .postExcerpts .postExcerptInner a.readMore {
        font-size: 13px;
    }
    .blog.row {
        padding: 0 15px;
    }
    .blog.row .blogInner .postExcerpts {
        padding: 33px;
    }
    .blog.row .blogInner .postExcerpts .postExcerptInner {
        margin-top: 0;
    }
    .blog.row .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
        font-size: 15px;
    }
    .blog.row .blogInner .postExcerpts .postExcerptInner p {
        font-size: 13px;
        margin-bottom: 14px;
    }
    .blog.sinlge-blog .blogInner .postExcerpts {
        padding: 25px;
        padding-top: 0;
    }
    .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner {
        margin-top: -25px;
    }
    .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
        font-size: 20px;
        font-weight: normal;
    }
    .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner p {
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    #blogs .col-sm-9 {
        width: 100%;
    }
    .contact-form-wrap{
        background-image: none;
    }
}
@media (max-width: 990px) {
    .blog .blogInner .blogDateTime {
        line-height: 40px;
        font-size: 12px;
    }
    .blog .blogInner .blogDateTime i {
        line-height: 40px;
        width: 40px;
        font-size: 18px;
        margin-right: 15px;
    }
    .blog.row {
        padding: 0 15px;
    }
    .blog.row .blogInner .postExcerpts {
        padding: 30px;
    }
    .blog.row .blogInner .postExcerpts .postExcerptInner {
        margin-top: 0;
    }
    .blog.row .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
        font-size: 15px;
    }
    .blog.row .blogInner .postExcerpts .postExcerptInner p {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .blog.sinlge-blog .blogInner .postExcerpts {
        padding: 25px;
        padding-top: 0;
    }
    .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner {
        margin-top: -25px;
    }
    .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
        font-size: 20px;
        font-weight: normal;
    }
    .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner p {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .blog {
        max-width: 400px;
        margin: 30px auto 0;
    }
    .blog .blogInner .blogDateTime {
        line-height: 40px;
        font-size: 12px;
    }
    .blog .blogInner .blogDateTime i {
        line-height: 40px;
        width: 40px;
        font-size: 18px;
        margin-right: 15px;
    }
    .blog.row {
        padding: 0 15px;
    }
    .blog.row .blogInner .postExcerpts {
        padding: 33px;
    }
    .blog.row .blogInner .postExcerpts .postExcerptInner {
        margin-top: 0;
    }
    .blog.row .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
        font-size: 15px;
    }
    .blog.row .blogInner .postExcerpts .postExcerptInner p {
        font-size: 13px;
        margin-bottom: 14px;
    }
    .blog.sinlge-blog {
        max-width: 100%;
        padding: 0;
    }
    .blog.sinlge-blog .blogInner .postExcerpts {
        padding: 25px;
        padding-top: 0;
    }
    .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner {
        margin-top: -25px;
    }
    .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
        font-size: 20px;
        font-weight: normal;
    }
    .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner p {
        font-size: 14px;
    }
}

.blog-content-wrap .content-wrap {
    margin-top: 70px;
}
/*----- END BLOG -----*/



/*Footer*/
footer{
    padding-top: 50px;
    padding-bottom: 90px;
}
footer .logo{
    margin-top: 30px;
}
footer .footerContent{
    border-bottom: 2px solid #2a2a86;
    padding-bottom: 15px;
    overflow: hidden;
}
/*To top*/
a#back-top:active {background:none;}
a#back-top {
    display: block;
    text-decoration: none;
    position: absolute;
    right: 58px;
    background: #2a2a86;
    padding: 20px;
    border-radius: 50px;
}
.topup {bottom:5px;}
#back-top i {display: block; font-size: 20px;color: #fff}
a#back-top:hover{
    box-shadow: 0 0 20px #000;
}